{% extends './base.html' %}
{% block content %}
<div id="top"><div/>
<br>
  <div class="mt-5 contents-wrap row row-cols-5, row-cols-md-5 g-25" style="background-color: #212529; margin-left: 15rem; margin-right: 15rem;">
    <style>
      .card img {
        transition: all 0.2s linear;
      }
      .card:hover img {
        transform: scale(1.02);
      }
      .card {
        overflow: hidden;
      }
      </style>
    {% for m in movies %}
      <div align="center">
        <div class="card text-bg-dark mb-3" style="max-width: 18rem; border:none; background-color: #212529; border-radius: 10px;">
          <img src="{{m.image}}" onclick="location.href='{% url 'board:detail' m.moviecode %}'" height="300" class="card-img-top" alt="..." style="border-radius: 10px;">
          <div class="rounded-3" align="left">
            <h5 class="fs-6" style="color:ghostwhite; text-align:center; margin-top:10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{m.moviename}}</h5>
            <br>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</ol>
<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
<!-- 이전페이지 -->
{% if movies.has_previous %}
  <li class="page-item">
    <a class="page-link" href="?page={{ movies.previous_page_number }}" style="border-radius: 15px 0px 0px 15px; border: none; background-color: #212529; color:ghostwhite;">이전</a>
  </li>
{% else %}
  <li class="page-item disabled">
    <a class="page-link" tabindex="-1" aria-disabled="true" href="#" style="border-radius: 15px 0px 0px 15px; border: none; background-color: #212529; color:gray;">이전</a>
  </li>
{% endif %}
<!-- 페이지리스트 -->
{% for page_number in movies.paginator.page_range %}
  {% if page_number >= movies.number|add:-5 and page_number <= movies.number|add:5 %}
  {% if page_number == movies.number %}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="?page={{ page_number }}" style="border: 2px solid ghostwhite; background-color: #212529; color:ghostwhite;">{{ page_number }}</a>
    </li>
  {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_number }}" style="border: none; background-color: #212529; color:ghostwhite;">{{ page_number }}</a>
    </li>
  {% endif %}
  {% endif %}
{% endfor %}
<!-- 다음페이지 -->
{% if movies.has_next %}
  <li class="page-item">
    <a class="page-link" href="?page={{ movies.next_page_number }}" style="border-radius: 0px 15px 15px 0px; border: none; background-color: #212529; color:ghostwhite;">다음</a>
  </li>
{% else %}
  <li class="page-item disabled">
    <a class="page-link" tabindex="-1" aria-disabled="true" href="#" style="border-radius: 0px 15px 15px 0px; border: none; background-color: #212529; color:gray;">다음</a>
  </li>
{% endif %}
</ul>
<!-- 페이징처리 끝 -->
<a href="#top"><button id="live-chat">△</button><a/>
{% endblock%}